{% extends 'base.html' %}
{% block title %}
Generate QR Code
{% endblock %}
{% block content %}
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url('police.png'); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 style="
    color: white;
    font-size: 70px;
">QR CODE Generator </h1>
        </div>
      </div>
    </div>
  </div>
   <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/static/media/police.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <!-- <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="#" class="btn btn-sm btn-default float-right">Message</a> -->
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                   <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <!-- <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div> -->
                  </div> 
                </div>
              </div>
              <div class="text-center">
                <h3>
                  Admin<span class="font-weight-light"></span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>VADODARA
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>GOVERNMENT OFFICER
                </div>
                <!-- <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div> -->
                <hr class="my-4">
                <!-- <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p> -->
                <a href="#">Show more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Select Details For QR Code</h3>
                </div>
                <div class="col-4 text-right">
                </div>
              </div>
            </div>
            <div class="card-body">
                <h6 class="heading-small text-muted mb-4">Location Details</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused" style="display:flex;flex-direction: column;">
                        <label class="form-control-label"></label>Zone</label>
                        <select name="Zone" class="form-control form-control-alternative" id="ZONE:" onchange="getZoneValue();" required="">
                          <option class="default" value="none" selected="" disabled="" hidden="" style="padding-left: 10px">
               <!-- <p style="padding-left 10px">Enter Your Gender</p> -->
                            </option>
                            <option value="North">North</option>
                            <option value="West">West</option>
                        <!-- <option value="north">north</option>
                          <option value="west">west</option> -->
                      </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group" style="display:flex;flex-direction:column" >
                        <label class="form-control-label"  >Range</label>
                        <select name="Range" id="RANGE"  onchange="getRangeValue();" class="form-control form-control-alternative" required>
                          <option
                          class="default"
                          value="none"
                          selected
                          disabled
                          hidden
                          style="padding-left: 10px"
                        >
               <!-- <p style="padding-left 10px">Enter Your Gender</p> -->
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        <!-- <option value="north">north</option>
                          <option value="west">west</option> -->
                      </select>
                      </div>
                    </div>
                  </div>
                   <hr class="my-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused" style="display:flex;flex-direction: column;">
                        <label class="form-control-label" >District</label>
                        <select name="District" id="DISTRICT" class="form-control form-control-alternative"  onchange="getDistrictValue();" required>
                          <option
                          class="default"
                          value="none"
                          selected
                          disabled
                          hidden
                          style="padding-left: 10px"
                        >
                        </option>
                        <option value="Vadodara">Vadodara</option>
                          <option value="Surat">Surat</option>
                          <option value="Ahemdabad">Ahemdabad</option>
                          </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group" style="display:flex;flex-direction:column" >
                        <label class="form-control-label"  >Sub District</label>
                        <select name="Subdivision" id="SUBDIVISION" class="form-control form-control-alternative"  onchange="getSubdivison();" required>
                          <option
                          class="default"
                          value="none"
                          selected
                          disabled
                          hidden
                          style="padding-left: 10px"
                        >
                        </option>
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="c">C</option>
                          <option value="D">D</option>
                          <option value="E">E</option>
                          <option value="F">F</option>
                          <option value="G">G</option>
                          <option value="H">H</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                <hr class="my-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused" style="display:flex;flex-direction: column;">
                      <label class="form-control-label">Police Station</label>
                      <select name="Policestation" id="POLICESTATION"  class="form-control form-control-alternative"  onchange="getPolicestation();" required>
                        <option
                        class="default"
                        value="none"
                        selected
                        disabled
                        hidden
                        style="padding-left: 10px"
                      >
                      </option>
                        <option value="Sayajiganj">Sayajiganj</option>
                        <option value="Amraiwadi">Amraiwadi</option>
                        <option value="Khatodara">Khatodara</option>
                        <option value="Navrangpura">Navrangpura</option>
                        <option value="Chhani">Chhani</option>
                        <option value="Varachha">Varachha</option>
                        <option value="Fatehgunj">Fatehgunj</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group" style="display:flex;flex-direction:column" >
                      <label class="form-control-label" >Sub Police Post</label>
                      <select name="subpolicepost" id="SUBPOLICEPOST" class="form-control form-control-alternative"  required>
                        <option
                        class="default"
                        value="none"
                        selected
                        disabled
                        hidden
                        style="padding-left: 10px"
                      >
                      </option>
                        <option value="tarsaliSubPolicePost">Tarsali</option>
                        <option value="ChhaniSubPolicePost">Chhani</option>
                      </select>
                    </div>
                  </div>
                </div>
                   <hr class="my-4">  

                <!-- Address -->
                        
                <!-- <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused" style="display:flex;flex-direction: column;">
                      <label class="form-control-label">From</label>
                      <input  class="form-control form-control-alternative fromdata" type="date" name="date"/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group" style="display:flex;flex-direction:column" >
                      <label class="form-control-label"  >To</label>
                      <input type="date" class="form-control form-control-alternative  todate" name="date"/>
                    </div>
                  </div>
                </div> -->
                <button style="height: 60px;width: 190px;border-radius: 5px;background: #5e72e4;color: #fff;box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);cursor: pointer;border: none;" id="gradient-btn">Generate QR code</button>
                    <!-- <div class="col-lg-4">
                        <label class="form-control-label" for="input-country">Date</label>
                        
                      </div> -->
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Description -->
               
                </div>
            
            </div>
          </div>
        </div>
{% endblock %}
