{% extends 'base.html' %}
{% block title %}
Visual-Overviews
{% endblock %}

{% block script %}
<script type="text/javascript">
           google.charts.load('current', {'packages':['corechart']});
           google.charts.setOnLoadCallback(drawChart);
           function drawChart()
           {
                var data = google.visualization.arrayToDataTable([
                          ['police_station', 'Number'],
                          <?php
                          while($row = mysqli_fetch_array($result))
                          {
                               echo "['".$row["police_station"]."', ".$row["number"]."],";
                          }
                          ?>
                     ]);
                var options = {
                      title: 'District Wise Entry Represntation',
                      //is3D:true,
                      pieHole: 0.4
                     };
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
           }
           </script>
{% endblock %}